:root {
  color-scheme: light dark;
  color: #ebebeb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.content {
  font-family: "Open Sans", sans-serif;
  margin: 60px auto auto;
  width: 70%;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 4.21rem;
}

h2 {
  font-size: 3.158rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small {
  font-size: 0.75rem;
}
