.container {
    background-color: #292929;
    font-family: "Open Sans", sans-serif;
    border: none;
    transition-duration: 0.4s;

    padding: 10px 4px;
    min-width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    width: fit-content;
}

.container:hover {
    background-color: #383838;
    padding-left: 7px;
    padding-right: 7px;
}

.vl {
    border-left: 1.5px solid;
    opacity: 0.66;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.icon a:hover {
    transition-duration: 0.4s;
}

.icon a:link {
    text-decoration: none;
}

.icon a:visited {
    text-decoration: none;
}

.icon a:hover {
    text-decoration: none;
}

.icon a:active {
    text-decoration: none;
}